@font-face {
    font-family: 'PottaOne';
    src: url('../assets/fonts/PottaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InknutAntiqua';
    src: url('../assets/fonts/InknutAntiqua-Bold.ttf') format('truetype');
}

.reading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin-top: 20px;;
}

.reading-container button {
    padding: 10px 20px;
    font-size: 50px;
    margin-top: -225px;
    font-family: 'PottaOne';
    color: #7648A1;
    text-decoration: none;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.reading-card-image {
    width: 175px;
    height: 300px;
    margin-top: -300px;
    margin-left: 25px;
    margin-right: 25px;
}

.reading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 40vh;
    overflow-y: auto;
    width: 62%;
    padding: 20px;
    margin-left: 35px;
    margin-top: -350px;
    margin-right: 0px;
    margin-bottom: 65px;
    font-family: 'Lekton';

}

.card-thumbnails-container {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.card-thumbnail {
    width: 67.5px;
    height: 90px;
    margin-left: 50px;
    margin-top: -70px;
    margin-bottom: 5px;
}

.dd-and-cards-container {
    display: flex;
    margin-left: 20px;
}

.dd-and-cards-container button {
    background-color: #b97cf18f;
    border: #7648A1;
    font-family: 'Courier New';
}

.card-thumbnails-container {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.card-img-top-display {
    display: flex;
    flex-direction: column;
}

figcaption {
    text-align: center;
    font-size: 12px;
    margin-left: 40px;
}

.get-reading-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    top: -5%;
}

.get-reading-button:hover {
    transform: scale(1.1);
}

.button-sparkles {
    position: absolute;
    top: -100px;
    left: -10px;
    width: calc(100% + 20px);
    height: auto;
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;
}

.chosen-card-name {
    font-family: 'InknutAntiqua';
}

.your-reading {
    font-family: 'InknutAntiqua';
}

.actual-reading {
    font-family: 'Courier New';
}

.deck-dropdown-options {
    font-family: 'Courier New';
}

.big-chosen-card-name {
    font-family: 'InknutAntiqua';
}

.gemini-logo {
    width: 150px;
    height: auto;
    position: fixed;
    bottom: 80px;
    right: 70px;
}

.loading-gif-container {
    position: relative;
    margin-bottom: 325px;;
}

.click-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* High z-index to ensure it covers everything */
    background: rgba(255, 255, 255, 0); /* Transparent background */
}
