@font-face {
  font-family: 'VCR';
  src: url('./assets/fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
  font-family: 'InknutAntiqua';
  src: url('./assets/fonts/InknutAntiqua-Bold.ttf') format('truetype');
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa00;
}

.logout-message {
  padding-right: 25px;
  font-family: 'VCR';
  color: #7648A1;
}

.menu-icon {
  cursor: pointer;
  width: 75px;
  height: auto;
}

.menu-icon:hover {
  transform: scale(1.25);
}

.menu {
  position: absolute;
  top: 4rem;
  left: 1rem;
  background-color: #ffffffee;
  border-radius: 8px;
  list-style: none;
  padding: 1rem;
  z-index: 1000;
  width: 175px;
}

.menu li {
  margin: 0.5rem 0;
}

.menu li a {
  font-family: 'InknutAntiqua';
  font-size: 16px;
  color: #7648A1;
}

.menu li a:hover {
  transform: scale(1.1);
  color: pink;
}

.right-nav-items ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.right-nav-items li {
  margin: 0;
}

.menu li button {
  font-family: 'VCR';
}
