@font-face {
  font-family: 'VCR';
  src: url('./assets/fonts/VCR_OSD_MONO_1.001.ttf');
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa00;
}

.logout-message {
  padding-right: 25px;
  font-family: 'VCR';
  color: #7648A1;
}
